form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form {
    width: 40%;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #2891e8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0, 1);
    font-family: Arial, sans-serif;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: white;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2b0bcb;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: rgb(93, 142, 234);
}

.error-message {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
}

body {
    background-color: #f0f8ff;
    background-image: url('Perpus.jpg');
    background-repeat: no-repeat ;
    background-size: cover ;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}